@import 'tailwindcss';

:root {
	--header-h: 70px;
}

@theme {
}

.gradient-morning {
	background: linear-gradient(to top, #bd674c, #f1bc8d, #e1cdb4, #bdc1c0, #7c9db5);
}

.gradient-afternoon {
	background: linear-gradient(to top, #bdc1c0, #7c9db5, #2d5195);
}

.gradient-evening {
	background: linear-gradient(to top, #ffb38a, #c17d9a, #6e5b93, #2e3b67, #1b2850);
}

.gradient-night {
	background: linear-gradient(to top, #6c97ae, #243c4d, #091219);
}

@layer components {
}
