@import 'tailwindcss';

@theme {
	--container-width: 1080px;
	--color-background: #f9fafb;
	--color-foreground: #000;
	--color-primary: #0ba8aa;
}

html {
	scroll-behavior: smooth;
}

@layer base {
	h1 {
		@apply font-bold text-6xl;
	}
	h2 {
		@apply font-bold text-3xl;
	}
	h3 {
		@apply font-bold text-2xl;
	}
	a:not(.btn) {
		@apply underline-offset-4 hover:underline;
	}
}

@layer components {
	.page-content {
		@apply w-[var(--container-width)] max-w-full mx-auto px-6;
	}
	.section {
		@apply pt-20;
	}
	.btn {
		@apply bg-foreground font-bold text-background px-4 py-2 text-sm w-fit tracking-wider rounded-4xl text-nowrap flex gap-2 items-center hover:bg-foreground/80 hover:no-underline;
	}
	.icon-btn {
		@apply rounded-full p-2 text-background bg-foreground hover:bg-foreground/80 hover:no-underline;
	}
	.tag {
		@apply inline-block bg-foreground/5 text-foreground/80 px-3 py-1 rounded-full text-xs;
	}
	.nav-link {
		@apply tracking-wide;
	}
}

.inverted-radius {
	--r: 15px; /* the radius */
	--s: 20px; /* size of inner curve */
	--x: 60px; /* horizontal offset (no percentage) */
	--y: 12px; /* vertical offset (no percentage) */

	border-radius: var(--r);
	--_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
	--_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
	--_d: (var(--s) + var(--r));
	mask:
		calc(100% - var(--_d) - var(--x)) 0 var(--_m),
		100% calc(var(--_d) + var(--y)) var(--_m),
		radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
			calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
		var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
		var(--_g) 0 calc(var(--_d) + var(--y));
	mask-repeat: no-repeat;
}
