@import 'tailwindcss';

@theme {
	--container-width: 1080px;
	--color-background: #f9fafb;
	--color-foreground: #000;
	--color-accent: #0ba8aa;
}

html {
	scroll-behavior: smooth;
}

@layer base {
	h1 {
		@apply font-bold text-4xl sm:text-6xl;
	}
	h2 {
		@apply font-bold text-xl sm:text-3xl;
	}
	h3 {
		@apply font-bold text-lg sm:text-2xl;
	}
	a:not(.btn):not(.icon-btn):not(.nav-link) {
		@apply underline-offset-4 hover:underline;
	}
}

@layer components {
	/* Layout */
	.page-content {
		@apply w-[var(--container-width)] max-w-full mx-auto px-6;
	}
	.section {
		@apply pt-24;

		& h2 {
			@apply text-center mb-6;
		}
	}

	/* Buttons & Links */
	.btn {
		@apply font-bold px-4 py-2 text-sm w-fit tracking-wider rounded-4xl text-nowrap flex gap-2 items-center hover:no-underline;
	}
	.icon-btn {
		@apply rounded-full p-2 hover:no-underline;
	}

	.btn-primary {
		@apply bg-foreground text-background hover:bg-foreground/70;
	}
	.btn-secondary {
		@apply border border-foreground text-foreground hover:bg-foreground/5;
	}
	.btn-accent {
		@apply bg-accent text-background hover:bg-accent/70;
	}

	.nav-link {
		@apply tracking-wide border-b-2 border-transparent bg-origin-border bg-[linear-gradient(var(--color-accent),var(--color-accent))] bg-position-[0%_100%] bg-no-repeat bg-size-[0%_3px] transition-all duration-500 hover:bg-size-[100%_3px] focus-visible:bg-size-[100%_3px];
		&.active {
			@apply bg-size-[100%_3px];
		}
	}

	.menu-icon {
		@apply relative w-full h-0.5 bg-current before:top-2 after:-top-2;
		&::before,
		&::after {
			@apply absolute right-0 w-full h-0.5 bg-current transition-transform;
		}

		&.open {
			@apply bg-transparent before:top-0 after:top-0 before:-rotate-45 after:rotate-45;
		}
	}

	/* Other */
	.tag {
		@apply inline-block bg-foreground/5 text-foreground/80 px-3 py-1 rounded-full text-xs;
	}
}

.inverted-radius {
	--r: 15px; /* the radius */
	--s: 20px; /* size of inner curve */
	--x: 60px; /* horizontal offset (no percentage) */
	--y: 12px; /* vertical offset (no percentage) */

	border-radius: var(--r);
	--_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
	--_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
	--_d: (var(--s) + var(--r));
	mask:
		calc(100% - var(--_d) - var(--x)) 0 var(--_m),
		100% calc(var(--_d) + var(--y)) var(--_m),
		radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
			calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
		var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
		var(--_g) 0 calc(var(--_d) + var(--y));
	mask-repeat: no-repeat;
}
